body {
    height: 100%;
    width: 100%;
    background-color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

main {
    width: 40%;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start center;
    align-items: stretch;
}

p {
    text-align: justify;
    line-height: 2rem;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

mark {
    background-color: #EBEBEB;
    color: rgb(116, 116, 116);

}

table {
    margin-top: 0;
    padding: 0;
    border-spacing: 2rem;
}


td h4 {
    text-align: center;
}


table img {
    width: 100px;
}

.fab {
    font-size: xx-large;
}

.container {
    flex: 1;
    background-color: #FFF;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#info {
    display: block;
    padding: 1rem 2rem;
}

#info h1 {
    color: #D95555;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
}

#info h2 {
    font-size: larger;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
}

#info h2,
a {
    font-family: 'Montserrat', sans-serif;
}

#info img {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 75px;
    border: 3px solid grey;
}

#info a {
    display: block;
    width: max-content;
    margin: 0 auto;
    background-color: #D95555;
    border-radius: 5px;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    font-weight: 700;
}

#link_list {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 3rem 3rem;
    text-align: center;
}


#link_list li {
    display: inline-block;
    margin: 0 1rem 0 0;
}

#link_list a {
    display: block;
    width: 100px;
    text-decoration: none;
    color: lightgrey;
    text-align: center;
}

#link_list i {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}